* {
    margin: 0px;
    padding: 0px;
    font-family: "Belwe Lt BT";
}

.main {
    margin: 80px;
    border: 2px solid #20569e;
    height: 400px;
    font-size: 15pt;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #20569e;
}

.title {
    color: #20569e;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 18pt;
}

p {
    text-indent: 0.5cm;
    line-height: 1cm;
}

h3 {
    color: #20569e;
    margin-top: 15px;
    margin-left: 15px;
}

ul,
ol {
    margin-left: 30px;
}

li {
    margin-bottom: 3px;
    margin-top: 2px;
}


table {
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #20569e;
    color: white;
    padding: 5px;
}

td {
    padding: 3px;
    text-align: center;
}


/* #20569e */